.navigationConatiner{
    width: 100%;
    display: flex;
}
.navigation{
    z-index: 1;
    
}
.jumbotronContainer{
    width: 84%;
    display: flex;
    justify-content: space-around;
}
.jubmotron{
    
}
.header{
    position: fixed;
}

.futuredListContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-left: 12px;
}

.futuredlistCenter{
    width: 80%;
}

