.sidebar-item {
    display: flex;
     justify-content: flex-end;
   
   
}
.number-left {
    display: flex;
    justify-content: flex-start;
}
.text-column {
    display: flex;
    flex-direction: column;
}
.sidebar-item-text {

    font-size: 15px;
    width: 219px;
    background: #fff;
    margin-right: 50px;
}
 .name-wrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

} 
.number {
    margin-right: 10px;
    font-size: 35px;
    opacity: 0.3;
    display: flex;
    justify-self: flex-start;
}

.names {
    font-size: 13px;
    margin-right: 122px;
    cursor: pointer;
}
.andy {
    margin-right: 80px;
}
.matt {
    margin-right: 150px;
}
.rainesford {
    margin-right: 85px;
}
.names:hover {
    text-decoration-line: underline;
}
.dates {
    font-size: 13px;
    opacity: 0.6;
    margin-right: 134px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.fa-star {
    margin-left: 10px;
}

