* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    
}
.featuredArticle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 48px;
}
.articleTitle {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin-right: 24px;

}
.artTitle {
    color: rgba(0,0,0,.84);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -.42px;
}
.artText {
    color: rgba(0,0,0,.54);
    font-size: 14px;
    margin-top: 2px;
    font-family: 'roboto';
    letter-spacing: 0;
    line-height: 20px;
}
.artAuthor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
}
.authName {
    font-size: 15px;
    color: rgba(0,0,0,.84);
    text-decoration: none;
}
.artProp {
    display: flex;
    flex-direction: row;
    justify-items: baseline;
    
}
.time {
    color: rgba(0,0,0,.54);
    font-size: 14px; 
}
.timeAfter::after {
    content: ".";
    padding: 0 4.8px;
}
.starSvg {
    width: 15px;
    height: 15px;
    fill: rgba(0,0,0,.54);
}
.btn {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}
.btnSvg {
    width: 25px;
    height: 25px;
    fill: rgba(0,0,0,.54);
}
