* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
.popup-content {
    width: 288px !important;
    height: 219px !important;
    padding: 15px !important;
    
}
.card {
    font-size: 12px;
}
.card > .header {
    width: 100%;
    font-size: 14px;
    text-align: left;
}
.card > .content {
    border-bottom: 1px solid rgba(0,0,0,.15);
    padding-bottom: 10px;
}
.contentText {
    width: 200px;
    overflow: hidden;
    display: block;
}
.example-warper {
    display: inline-block;
}
.cardHeadName {
    font-size: 20px;
    font-weight: 700;   
}
.cardHeadSince {
    font-size: 13px;
    margin-bottom: 7px;
    color: #03a87c;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}
.footFoll {
    font-size: 14px;
    margin-right: 10px;
    line-height: 36px;
}
.footBtn {
    background: none;
    border: #03a87c solid 1px;
    padding: 0 14px;
    color: #03a87c;
    border-radius: 4px;
    line-height: 36px;
    outline: none;
    cursor: pointer;
}