
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    position: relative;
    z-index: 500;
}
.navigation{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.header {
    background-color: white;
    padding: 30px;
    text-align: center;
}

.navbar {
    width: 80%;;
    display: flex;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.LinkItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    color: rgb(117, 117, 117);
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;

}