.hid {
    display: inline-block;
 } 

 .Jenni:hover {
     text-decoration-line: underline;
 } 
 .pop {
     margin-bottom :15px;
 }
 .pop-header {
     width: 100%;
     font-size: 14px;
     text-align: left;
     display: flex;
     flex-direction: row-reverse;
     justify-content: space-between;
 }
 .photo-space {
     display: flex;

  align-self: self-end;
 
 }
 .article {
     border-bottom: 1px solid rgba(0,0,0,.15);
     padding-bottom: 10px;
 }
 .article-text {
     width: 230px;
     overflow: hidden;
     display: block;
     opacity: 0.6;
     font-size: 15px;
 }
 .header-name {
     font-size : 20px;
     font-weight: 600;
 }
 .header-text {
     font-size: 13px;
     margin-bottom: 7px;
     color: #03a87c;
 }
 .footer {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }
 .footer-text {
     font-size: 14px;
     margin-right: 10px;
     line-height: 30px;

 }
 .footer-btn {
     background: none;
     border: #03a87c solid 1px;
     color: #03a87c;
     border-radius: 4px;
     outline: none;
     cursor: pointer;
     width: 70px;
     height: 30px;
     margin-right: 15px;
 }
 .footer-btn:hover {
     color: #52f5c9;
     border: #6bf7d1 solid 1px;
 }
