*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.headerContainer{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.Header{
  display:flex;
  justify-content: center;
  width: 96%;
  height:60px;
  background: rgb(255, 255, 255);
  position: relative;
}

.smallHeader{
  width: 85%;
  height:60px;
  background: rgb(255, 255, 255);
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding-left:15px;
  padding-right:40px;
}

.header_logo{
  margin-top: 6px;
  margin-left:4px;
  width: 120px;
  height:33px;
  background:rgb(255, 255, 255);
  border: 5px solid rgb(255, 255, 255);
}

.metabar_block{
  width: 545px;
  height:60px;
  background: rgb(255, 255, 255);
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.ButtonSearch{
  display:flex;
  align-items:center;
  width: 235px;
  height:60px;
  background: rgb(255, 255, 255);
}
.openSearch{
padding:5px;
padding-right:0;
font-size:1.1em;
position:absolute;
border: none;
background: rgb(255, 255, 255);
color: rgb(206, 204, 204);
}

.search{
height:30px;
padding-left:9px;
margin-left:22px;
position: relative;
border:none;
}

.sign_in_Avatar{
  display:flex;
  align-items:center;
justify-content: space-between;
  width: 305px;
  height:60px;
  background: rgb(255, 255, 255);
}

.becomeMember{
text-decoration: none;
font-size:15px;
color: rgb(161, 159, 159);
}

.signIn{
border:none;
background: rgb(255, 255, 255);
font-size:15px;
color: rgb(20, 202, 102);
}

.getStarted{
border:solid 1px black;
font-size:15px;
padding:10px 15px;
border-radius:5px;
background: rgb(255, 255, 255);
color: rgb(20, 202, 102);
border-color:rgb(20, 202, 102);

}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.signInOpen{
  width:100%;
  height:100vh;
  background: rgba(255, 255, 255,0.95);
  display:flex;
  justify-content: center;
  align-items:center;
  position: absolute;
}

.signInOpen_back {
  width:69%;
  height:87vh;
  background: rgb(255, 255, 255);
  margin-top:-35px;
  box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.86);
  border-radius: 4px;
  display:flex;
  justify-content: center;
  text-align: center;
  
}
.signInOpen_back_img{
  position: relative;
}
.signInClose{
  position: absolute;
  top:30px;
  margin-left: -40px;
  padding: 5px;
  font-size: 20px;
  background: rgb(255, 255, 255);
  border: none;
}
.personalizedStory{
  width:370px;
  height: 550px;
  position: absolute;
  top:36px ;

}
.welcome_header{
  margin:30px 20px 20px 23px ;
  color: rgb(58, 58, 59);
}
.Join_Medium_header{
  margin-top: 60px;
  margin-bottom: 30px;
  font-size:35px;
  color: rgb(58, 58, 59);
}
.singIn_information{
  margin-bottom: 30px;
  font-size: 19px;
  color: rgb(58, 58, 59);
}

.accounts{
  display:flex;
  flex-direction:column;
  padding-left: 35px;
}

.accauntsButton{
  display:flex;
  padding: 5px;
  font-size: 16.7px;
  margin-bottom: 17px;
  width:300px;
  height: 35px;
  border-radius: 3px;
  color: rgb(29, 29, 31);
  border: 1px solid rgb(177, 177, 182);
  background: rgb(255, 255, 255);
}
.acaunts_logo{
  width:20px;
  height: 20px;
  margin: 0 5px 0 15px;
}

.IfNoAccount{
  margin: 17px;
  color: rgb(58, 58, 59);    

}
.Already_have_account{
  margin-bottom: 60px;
}
.createOne{
  text-decoration: none;
  color: rgb(1, 190, 102);
}
.sing_in_footer{
  color: rgb(58, 58, 59);    
}

