.PopArB{
    width: 448px;
    height: 350px;
    background: rgb(250, 122, 76);
}

.PopImg{
    width: 100%;
    height: 150px;
    background: black;
}

.img{
    width: 100%;
    height: 150px;
}

h2{
    font-size: 24px;
}

.PopThead{
    margin-left: 60px;
}

.PopThead-p{
    color: gray;
    font-size: 16px;
}

.PopTbot{
    margin-left: 60px;
}

.PopTbot-p{
    color: aliceblue;
}