
.wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}
.sidebar-right {
    display:flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(116, 115, 115);
    width: 328px;
    align-self: flex-end;
    margin-bottom: 10px;

}
.sidebar-text {
    font-size:20px;
}
