* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto'
    
}
.featuredList {
    display: flex;
    flex-direction: column;
    width: 680px;
    padding-right: 24px;
    /* margin-left: 300px; */
}
.featuredHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}
.featuredHeaderTitle {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,.54);
    color: rgba(0,0,0,.84);
    line-height: 14px;
}
.headerTitleMore {
    text-decoration: none;
    color: rgba(0,0,0,.54);
    display: flex; 
}
.titleMore {
    font-size: 14px;
    text-transform: uppercase;
}
.titleSvg {
    width: 19px;
    height: 19px;
    fill: rgba(0,0,0,.54);
}